{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename = 'img/image2.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Coding teacher required for an hour</h1>
            <h2 class="subheading">Teacher must have knowledge about html, css, javascript.</h2>
            <span class="meta">Posted by
              <a href="#">DAV public School</a>
              on December 21, 2020</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>The Must have a exprience of two years of knowledge in Web development.</p>
          <h2 class="section-heading">Timing 24 Dec 2020</h2><br>
          <p>Requirement is from 12'o clock to 1'o clock on 24 Dec 2020</p><br>

          <p><h2 class="section-heading">Applicant must know:</h2></p>
          <br>
            HTML5(Hyprer Text Markup Language 5)
            <br>
            CSS3(Cascading Style Sheet 3)
            <br>
            Javascript<br>
            Computer Basics<br>
            How websites work<br>
            Basics of Networking<br>
            
          <p>We are teaching javacript, html, and css to our students and have completed till the part of the basic structure of a page and have gave good guidecnce to out students and hoping for as such good guidence from the taeacher coming.</p>
          
          <h2 class="section-heading">HTML5</h2>
          <p>HTML is the fundamental skeleton of a website and it helps to design the overall structure of the website.<br>
          <h2 class="section-heading">CSS</h2>
          If we talk about CSS it is the something which provide better look and feel to the website and it manages from the color from the website to overall look of the website </p>

          <h2 class="section-heading">Javascript</h2>

          <p>Javascript is one of the most used language of current scenario, it provides a dynamic website to the user with with good links with the backend it makes the user experience easy and smooth.</p>

          <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>
          <form>
            <div id="success"></div>
           <button type="apply" class="btn btn-primary" id="applybutton">Apply</button>
          </form>

        </div>
      </div>
    </div>
  </article>

{% endblock %}
